# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
.venv/
env/
venv/

# IDE settings
.idea/
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db